@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&family=Noto+Sans+KR:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #0F0F0F;
  color: white;
}

.font-brand {
  font-family: 'Outfit', sans-serif;
}
